.full-page {
  display: flex
}
.list-group{
  overflow-y: scroll;
  max-height: 450px;
}

@media (max-width: 576px) {
    .list-group{
      overflow-y: scroll;
      max-height: 330px;
      }
  }
  
  @media (min-width: 576px) {
    .list-group{
      overflow-y: scroll;
      max-height: 450px;
    }
  }
  